@charset "UTF-8" !important;

/* Main CSS */
table {
	border-collapse:collapse !important;
	border-spacing:5px !important;
	vertical-align:top !important;
}

tr {
	padding:15px !important;
	margin-top:15px !important;
	vertical-align:top !important;
}
th {text-align: left !important; font-size: 0.88em !important; font-weight: bold !important; vertical-align: top !important; padding: 8px 10px 0 0 !important; }

td {
	text-align:left !important;
	padding:5px 15px 0 0 !important;
	vertical-align:top !important;
}

input[type="text"],input[type="number"],input[type="email"],input[type="password"] {
	padding:6px !important;
	border-radius:3px !important;
	box-shadow:inset 0 2px 6px rgba(0,0,0,0.3),0 1px 0 rgba(255,255,255,0.2) !important;
	outline:none !important;
	background-color: #fff !important;
}

input[type="number"] {text-align: center !important;}

input[type="text"],input[type="email"],input[type="password"] {
	text-align:left !important;
}

select {
	border:1px solid #6f6f6f !important;
	background-color:#70c66b !important;
	background-image:linear-gradient(rgba(255,255,255,0.2),transparent) !important;
	color:#333 !important;
	font-weight:700 !important;
	text-shadow:0 1px 0 rgba(255,255,255,0.5) !important;
	outline:0 solid #fff !important;
}

.large {
	width:250px !important;
}

.120 {
	width:120px !important;
}

.helper {
	font-weight:400 !important;
	color:#747474 !important;
}

.updated {
	line-height:3em !important;
	border:1px solid Green !important;
	box-shadow:5px 5px 10px grey !important;
}

.updated:before {
	color:Green !important;
	font-size:1.75em !important;
	content:"\2713 " !important;
}

.tooltip {
	position:relative !important;
	display:inline-block !important;
	border-bottom:1px dotted #000 !important;
	color:#2683AE !important;
	cursor:help !important;
}

.tooltip .tooltiptext {
	visibility:hidden !important;
	width:350px !important;
	background-color:#2683AE !important;
	color:#fff !important;
	line-height:1.25em !important;
	text-align:left !important;
	border-radius:6px !important;
	padding:8px !important;
	position:absolute !important;
	z-index:1 !important;
	bottom:200% !important;
	left:0 !important;
	margin-left:-165px !important;
	opacity:0 !important;
	transition:opacity 1s !important;
}

.tooltip .tooltiptext::after {
	content:"" !important;
	position:absolute !important;
	top:100% !important;
	left:50% !important;
	margin-left:-5px !important;
	border-width:5px !important;
	border-style:solid !important;
	border-color:#555 transparent transparent !important;
}

.tooltip:hover .tooltiptext {
	visibility:visible !important;
	opacity:1 !important;
	z-index:999 !important;
}

input[type=checkbox]:disabled {
	display:none !important;
}

.switch-light.switch-candy input:disabled ~ span span:nth-child(1) {
	background-color:#bdbdbd !important;
	color:#dcdcdc !important;
	text-shadow:1px 1px 1px #191b1e !important;
	box-shadow:inset 0 2px -5px rgba(0,0,0,0.4),0 1px 0 rgba(255,255,255,0.7) !important;
}

.plugin {
	width:200px !important;
	height:225px !important;
	border:1px solid gray !important;
	border-radius:5px !important;
	box-shadow:0 3px 5px #5c5c5c !important;
	background-color:#fff !important;
	padding:10px !important;
	margin:10px !important;
	display:inline-block !important;
	vertical-align:top !important;
}

.addon_title {
	font-weight:700 !important;
	font-size:18px !important;
	display:block !important;
}

.addon_image {
	width:200px !important;
	height:100px !important;
	display:block !important;
	margin:0 auto !important;
	text-align:center !important;
	padding:5px 0 !important;
}

.tagline {
	font-style:italic !important;
	display:block !important;
	font-size:.95em !important;
}
.green, .red, .gray, .blue {
	color:#fff !important;
	font-weight:700 !important;
	text-align:center !important;
	padding:8px !important;
	margin:5px 0 !important;

}

.green {
	background-color:green !important;
}

.red {
	background-color:orangered !important;
}

.gray {
	background-color:gray !important;
}
.blue {
	background-color:blue !important;
}


.switch-toggle a,.switch-light span span {
	display:none;
}

@media only screen {
	.switch-light {
		position:relative;
		display:block;
	}

	.switch-light::after {
		clear:both;
		content:'';
		display:table;
	}

	.switch-light *,.switch-light :before,.switch-light :after {
		box-sizing:border-box;
	}

	.switch-light a {
		display:block;
		transition:all .2s ease-out;
	}

	.switch-light label,.switch-light > span {
		line-height:2em;
	}

	.switch-light input:focus ~ span a,.switch-light input:focus + label {
		outline-width:0;
		outline-style:dotted;
		outline-color:Highlight;
	}
}
@media only screen and (-webkit-min-device-pixel-ratio: 0) {
	.switch-light input:focus ~ span a,.switch-light input:focus + label {
		outline-color:-webkit-focus-ring-color;
		outline-style:auto;
	}
}

@media only screen {
	.switch-light input {
		position:absolute;
		opacity:0;
		z-index:3;
	}

	.switch-light input:checked ~ span a {
		right:0;
	}
	.switch-light strong {
		font-weight:inherit;
	}
	.switch-light > span {
		position:relative;
		overflow:hidden;
		display:block;
		min-height:1.75em;
		padding:0;
		text-align:left;
	}
	.switch-light span span {
		position:relative;
		z-index:2;
		display:block;
		float:left;
		width:50%;
		text-align:center;
		user-select:none;
	}

	.switch-light a {
		position:absolute;
		right:50%;
		top:0;
		z-index:1;
		display:block;
		width:50%;
		height:100%;
		padding:0;
	}

	.switch-light.row {
		display:flex;
	}

	.switch-light .alert-light {
		color:#333;
	}

	.switch-toggle {
		position:relative;
		display:block;
		padding:0!important;
	}

	.switch-toggle::after {
		clear:both;
		content:'';
		display:table;
	}

	.switch-toggle *,.switch-toggle :before,.switch-toggle :after {
		box-sizing:border-box;
		outline:none!important;
	}

	.switch-toggle a {
		display:block;
		transition:all .2s ease-out;
	}

	.switch-toggle label,.switch-toggle > span {
		line-height:2em;
	}

	.switch-toggle input:focus ~ span a,.switch-toggle input:focus + label {
		outline:none!important;
		outline-width:0;
		outline-style:none;
		outline-color:;
	}
}

@media only screen and (-webkit-min-device-pixel-ratio: 0) {
	.switch-toggle input:focus ~ span a,.switch-toggle input:focus + label {
		outline-color:-webkit-focus-ring-color;
		outline-style:auto;
	}
}

@media only screen {
	.switch-toggle input {
		position:absolute;
		left:0;
		opacity:0;
	}

	.switch-toggle input + label {
		position:relative;
		z-index:2;
		display:block;
		float:left;
		padding:0 .5em;
		margin:0;
		text-align:center;
	}

	.switch-toggle a {
		position:absolute;
		top:0;
		left:0;
		padding:0;
		z-index:1;
		width:10px;
		height:100%;
	}

	.switch-toggle label:nth-child(2):nth-last-child(4),.switch-toggle label:nth-child(2):nth-last-child(4) ~ label,.switch-toggle label:nth-child(2):nth-last-child(4) ~ a {
		width:50%;
	}

	.switch-toggle label:nth-child(2):nth-last-child(4) ~ input:checked:nth-child(3) + label ~ a {
		left:50%;
	}

	.switch-toggle label:nth-child(2):nth-last-child(6),.switch-toggle label:nth-child(2):nth-last-child(6) ~ label,.switch-toggle label:nth-child(2):nth-last-child(6) ~ a {
		width:33.33%;
	}

	.switch-toggle label:nth-child(2):nth-last-child(6) ~ input:checked:nth-child(3) + label ~ a {
		left:33.33%;
	}

	.switch-toggle label:nth-child(2):nth-last-child(6) ~ input:checked:nth-child(5) + label ~ a {
		left:66.66%;
	}

	.switch-toggle label:nth-child(2):nth-last-child(8),.switch-toggle label:nth-child(2):nth-last-child(8) ~ label,.switch-toggle label:nth-child(2):nth-last-child(8) ~ a {
		width:25%;
	}

	.switch-toggle label:nth-child(2):nth-last-child(8) ~ input:checked:nth-child(3) + label ~ a {
		left:25%;
	}

	.switch-toggle label:nth-child(2):nth-last-child(8) ~ input:checked:nth-child(5) + label ~ a {
		left:50%;
	}

	.switch-toggle label:nth-child(2):nth-last-child(8) ~ input:checked:nth-child(7) + label ~ a {
		left:75%;
	}

	.switch-toggle label:nth-child(2):nth-last-child(10),.switch-toggle label:nth-child(2):nth-last-child(10) ~ label,.switch-toggle label:nth-child(2):nth-last-child(10) ~ a {
		width:20%;
	}

	.switch-toggle label:nth-child(2):nth-last-child(10) ~ input:checked:nth-child(3) + label ~ a {
		left:20%;
	}

	.switch-toggle label:nth-child(2):nth-last-child(10) ~ input:checked:nth-child(5) + label ~ a {
		left:40%;
	}

	.switch-toggle label:nth-child(2):nth-last-child(10) ~ input:checked:nth-child(7) + label ~ a {
		left:60%;
	}

	.switch-toggle label:nth-child(2):nth-last-child(10) ~ input:checked:nth-child(9) + label ~ a {
		left:80%;
	}

	.switch-toggle label:nth-child(2):nth-last-child(12),.switch-toggle label:nth-child(2):nth-last-child(12) ~ label,.switch-toggle label:nth-child(2):nth-last-child(12) ~ a {
		width:16.6%;
	}

	.switch-toggle label:nth-child(2):nth-last-child(12) ~ input:checked:nth-child(3) + label ~ a {
		left:16.6%;
	}

	.switch-toggle label:nth-child(2):nth-last-child(12) ~ input:checked:nth-child(5) + label ~ a {
		left:33.2%;
	}

	.switch-toggle label:nth-child(2):nth-last-child(12) ~ input:checked:nth-child(7) + label ~ a {
		left:49.8%;
	}

	.switch-toggle label:nth-child(2):nth-last-child(12) ~ input:checked:nth-child(9) + label ~ a {
		left:66.4%;
	}

	.switch-toggle label:nth-child(2):nth-last-child(12) ~ input:checked:nth-child(11) + label ~ a {
		left:83%;
	}

	.switch-toggle.switch-candy,.switch-light.switch-candy > span {
		background-color:#d7d7d7;
		border-radius:3px;
		box-shadow:inset 0 2px 6px rgba(0,0,0,0.3),0 1px 0 rgba(255,255,255,0.2);
	}

	.switch-light.switch-candy span span,.switch-light.switch-candy input:checked ~ span span:first-child,.switch-toggle.switch-candy label {
		color:#fff;
		font-weight:400;
		text-align:center;
		text-shadow:1px 1px 1px #191b1e;
	}

	.switch-light.switch-candy input ~ span span:first-child,.switch-light.switch-candy input:checked ~ span span:nth-child(2),.switch-candy input:checked + label {
		color:#333;
		font-weight:700;
		text-shadow:0 1px 0 rgba(255,255,255,0.5);
	}

	.switch-candy a {
		border:1px solid #6f6f6f;
		border-radius:3px;
		box-shadow:0 1px 8px rgba(0,0,0,0.82),inset 0 1px 5px rgba(255,255,255,0.85);
		background-color:#70c66b;
		background-image:linear-gradient(rgba(255,255,255,0.2),transparent);
	}

	.switch-candy-blue a {
		background-color:#38a3d4;
	}

	.switch-candy-yellow a {
		background-color:#f5e560;
	}

	.switch-ios.switch-light span span {
		color:#888b92;
	}

	.switch-ios.switch-light a {
		left:0;
		top:0;
		width:2em;
		height:2em;
		background-color:#fff;
		border-radius:100%;
		border:.25em solid #D8D9DB;
		transition:all .2s ease-out;
	}

	.switch-ios.switch-light > span {
		display:block;
		width:100%;
		height:2em;
		background-color:#D8D9DB;
		border-radius:1.75em;
		transition:all .4s ease-out;
	}

	.switch-ios.switch-light > span span {
		position:absolute;
		top:0;
		left:0;
		width:100%;
		opacity:0;
		line-height:1.875em;
		vertical-align:middle;
		transition:all .2s ease-out;
	}

	.switch-ios.switch-light > span span:first-of-type {
		opacity:1;
		padding-left:1.875em;
	}

	.switch-ios.switch-light > span span:last-of-type {
		padding-right:1.875em;
	}

	.switch-ios.switch-light input:checked ~ span a {
		left:100%;
		border-color:#4BD865;
		margin-left:-2em;
	}

	.switch-ios.switch-light input:checked ~ span {
		border-color:#4BD865;
		box-shadow:inset 0 0 0 30px #4BD865;
	}

	.switch-ios.switch-light input:checked ~ span span:first-of-type {
		opacity:0;
	}

	.switch-ios.switch-light input:checked ~ span span:last-of-type {
		opacity:1;
		color:#fff;
	}

	.switch-ios.switch-toggle {
		background-color:#D8D9DB;
		border-radius:30px;
		box-shadow:inset rgba(0,0,0,0.1) 0 1px 0;
	}

	.switch-ios.switch-toggle a {
		background-color:#4BD865;
		border:.125em solid #D8D9DB;
		border-radius:1.75em;
		transition:all .12s ease-out;
	}

	.switch-ios.switch-toggle label {
		height:2.4em;
		color:#888b92;
		line-height:2.4em;
		vertical-align:middle;
	}

	.switch-ios input:checked + label {
		color:#3e4043;
	}

	.switch-toggle.switch-holo,.switch-light.switch-holo > span {
		background-color:#464747;
		border-radius:1px;
		box-shadow:inset rgba(0,0,0,0.1) 0 1px 0;
		color:#fff;
		text-transform:uppercase;
	}

	.switch-holo label {
		color:#fff;
	}

	.switch-holo > span span {
		opacity:0;
		transition:all .1s;
	}

	.switch-holo > span span:first-of-type {
		opacity:1;
	}

	.switch-holo > span span,.switch-holo label {
		font-size:85%;
		line-height:2.15625em;
	}

	.switch-holo a {
		background-color:#666;
		border-radius:1px;
		box-shadow:inset rgba(255,255,255,0.2) 0 1px 0,inset rgba(0,0,0,0.3) 0 -1px 0;
	}

	.switch-holo.switch-light input:checked ~ span a {
		background-color:#0E88B1;
	}

	.switch-holo.switch-light input:checked ~ span span:first-of-type {
		opacity:0;
	}

	.switch-holo.switch-light input:checked ~ span span:last-of-type {
		opacity:1;
	}

	.switch-light.switch-material a {
		top:-.1875em;
		width:1.75em;
		height:1.75em;
		border-radius:50%;
		background:#fafafa;
		box-shadow:0 .125em .125em 0 rgba(0,0,0,0.14),0 .1875em .125em -.125em rgba(0,0,0,0.2),0 .125em .25em 0 rgba(0,0,0,0.12);
		transition:right .28s cubic-bezier(0.4,0,0.2,1);
	}

	.switch-material.switch-light {
		overflow:visible;
	}

	.switch-material.switch-light::after {
		clear:both;
		content:'';
		display:table;
	}

	.switch-material.switch-light > span {
		overflow:visible;
		position:relative;
		top:.1875em;
		width:3.25em;
		height:1.5em;
		min-height:auto;
		border-radius:1em;
		background:rgba(0,0,0,0.26);
	}

	.switch-material.switch-light span span {
		position:absolute;
		clip:rect(0 0 0 0);
	}

	.switch-material.switch-light input:checked ~ span a {
		right:0;
		background:#3f51b5;
		box-shadow:0 .1875em .25em 0 rgba(0,0,0,0.14),0 .1875em .1875em -.125em rgba(0,0,0,0.2),0 .0625em .375em 0 rgba(0,0,0,0.12);
	}

	.switch-material.switch-light input:checked ~ span {
		background:rgba(63,81,181,0.5);
	}

	.switch-toggle.switch-material {
		overflow:visible;
	}

	.switch-toggle.switch-material::after {
		clear:both;
		content:'';
		display:table;
	}

	.switch-toggle.switch-material a {
		top:48%;
		width:.375em!important;
		height:.375em;
		margin-left:.25em;
		background:#3f51b5;
		border-radius:100%;
		transform:translateY(-50%);
		transition:transform .4s ease-in;
	}

	.switch-toggle.switch-material label {
		color:rgba(0,0,0,0.54);
		font-size:1em;
	}

	.switch-toggle.switch-material label:before {
		content:'';
		position:absolute;
		top:48%;
		left:0;
		display:block;
		width:.875em;
		height:.875em;
		border-radius:100%;
		border:.125em solid rgba(0,0,0,0.54);
		transform:translateY(-50%);
	}

	.switch-toggle.switch-material input:checked + label:before {
		border-color:#3f51b5;
	}

	.switch-light.switch-material > span:before,.switch-light.switch-material > span:after,.switch-toggle.switch-material label:after {
		content:'';
		position:absolute;
		top:0;
		left:0;
		z-index:3;
		display:block;
		width:4em;
		height:4em;
		border-radius:100%;
		background:#3f51b5;
		opacity:.4;
		margin-left:-1.25em;
		margin-top:-1.25em;
		transform:scale(0);
		transition:opacity .4s ease-in;
	}

	.switch-light.switch-material > span:after {
		left:auto;
		right:0;
		margin-left:0;
		margin-right:-1.25em;
	}

	.switch-toggle.switch-material label:after {
		width:3.25em;
		height:3.25em;
		margin-top:-.75em;
	}

	@keyframes materialRipple {
	0% {
		transform:scale(0);
	}

	20% {
		transform:scale(1);
	}

	100% {
		opacity:0;
		transform:scale(1);
	}
}

.switch-material.switch-light input:not(:checked) ~ span:after,.switch-material.switch-light input:checked ~ span:before,.switch-toggle.switch-material input:checked + label:after {
	animation:materialRipple .4s ease-in;
}
.switch-light.switch-material.switch-light input ~ span:before,.switch-light.switch-material.switch-light input ~ span:after,.switch-material.switch-toggle input + label:after {
	visibility:hidden;
}

.switch-light.switch-material.switch-light input:focus:checked ~ span:before,.switch-light.switch-material.switch-light input:focus:not(:checked) ~ span:after,.switch-material.switch-toggle input:focus:checked + label:after {
	visibility:visible;
}
}

@media only screen and (-webkit-max-device-pixel-ratio: 2) and (max-device-width: 80em) {
	.switch-light,.switch-toggle {
		-webkit-animation:webkitSiblingBugfix infinite 1s;
	}
}

@-webkit-keyframes webkitSiblingBugfix {
	from {
		-webkit-transform:translate3d(0,0,0);
	}

	to {
		-webkit-transform:translate3d(0,0,0);
	}
}